.ant-radio-inner {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: var(--gray400);
    margin-right: 18px;

    &::after {
        width: 12px;
        height: 12px;
    }
}
span.ant-radio + * {
    padding-left: 0;
}